@charset "UTF-8";

// Imports

nav {
	font-size: 1.2em;

	> ul {
		a {
			color: unset;
			text-decoration: unset;
		}
		li {
			transition: text-shadow 0.1s ease-in, box-shadow 0.1s ease-in;

			&[data-sticker]::after {
				transition: box-shadow 0.1s;
			}
			&:hover {
				text-shadow: 0.05em 0.05em 0.07em rgba(0, 64, 255, 0.8);
				box-shadow: 0.2em 0.2em 0.5em rgba(0, 0, 0, 0.3);

				&[data-sticker]::after {
					box-shadow: 0.05em 0.05em 0.07em rgba(0, 64, 255, 0.8);
				}
			}
		}
	}
}
