body {
  color: #000C;
}

p {
  margin: 1rem 0;
  line-height: 2rem;
}

header {
  padding: 5rem 1rem;
  max-width: 960px;
  margin: 0 auto;
}

header h1:first-child {
  margin-bottom: 1rem;
  font-size: 3rem;
}

header h1:last-child {
  font-size: 4rem;
  font-weight: bold;
}


.topic-header {
  margin: 2rem auto 0;
  padding: 1rem 1rem;
  max-width: 960px;
  display: flex;
}

.topic-header::before,
.topic-header::after {
  content: "";
  flex-grow: 1;
  height: 1px;
  background: #0003;
}
.topic-header::before {
  margin: 1rem 1.5rem 0 0;
}
.topic-header::after {
  margin: 1rem 0 0 1.5rem;
}

.topic-header h2 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.topic {
  max-width: 960px;
  margin: 0 auto;
  padding: 1rem 1rem;
  position: relative;
}

.topic.activity h3 {
  color: #0001;
  font-size: 6rem;
  font-weight: bold;
  font-style: italic;
  position: absolute;
}

.topic.activity ul {
  padding: 1rem 2rem;
}

.topic.activity li {
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid #0003;
}
.topic.activity li:last-child {
  margin-bottom: 0;
}

.topic.activity li h4 {
  font-size: 1.25rem;
  font-weight: bold;
}

.topic.activity li p {
  margin: 1rem 0 0;
}

.topic.info table {
  max-width: 640px;
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
}

.topic.info tr {
  line-height: 2rem;
  border-bottom: 1px solid #0003;
}

.topic.info tr:last-child {
  border-bottom: none;
}

.topic.info th, .topic.info td {
  padding: 1rem;
}

.topic.info th {
  font-weight: bold;
  text-align: left;
  white-space: nowrap;
}

.topic.info a {
  text-decoration: underline;
}
.topic.info a:hover {
  text-decoration: unset;
}

@media (max-width: 640px) {
  header {
    padding: 3rem 1rem;
  }
  
  header h1:first-child {
    font-size: 2rem;
  }
  
  header h1:last-child {
    font-size: 2.75rem;
  }

  .topic-header {
    margin: 1rem auto 0;
  }  
  
  .topic-header h2 {
    font-size: 1.5rem;
  }

  .topic-header::before {
    margin: 0.75rem 1.5rem 0 0;
  }
  .topic-header::after {
    margin: 0.75rem 0 0 1.5rem;
  }

  .topic.activity ul {
    padding: 0.75rem 0.75rem;
  }
}
