@charset "UTF-8";
/*--- ヘッダ部分 ---*/
header {
  flex: 0 0 auto;
  background-color: #333;
  color: #EEE;
}
header > div {
  text-align: center;
}
header > div:nth-child(1) {
  font-family: "Menlo", "Consolas", "Courier New", "Courier", monospace;
  font-variant: small-caps;
  font-size: 2.5em;
  padding: 0.2em;
  text-shadow: 0 0 0.6em #111;
  transition: text-shadow 0.5s;
}
header > div:nth-child(2) {
  padding: 0.3em;
  text-shadow: 0 0 0.6em #111;
  transition: text-shadow 0.5s;
}
header:hover {
  color: #FFD;
}
header:hover > div:nth-child(1) {
  text-shadow: 0 0 0.9em #EEA;
}
header:hover > div:nth-child(2) {
  text-shadow: 0 0 0.9em #EEA;
}

/*--- 基本スタイル ---*/
body {
  margin: 0;
  background-color: #EEE;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
body::after {
  flex: 0 0 auto;
  display: block;
  content: "Ricora Programming Team";
  font-family: "Menlo", "Consolas", "Courier New", "Courier", monospace;
  font-variant: small-caps;
  font-size: 2.5em;
  padding: 1em 0.2em;
  text-align: center;
  color: #333;
  background-color: #444;
}

@media (max-width: 450px) {
  body {
    font-size: 13px;
  }
}
main {
  flex: 1 1 auto;
  margin: 0em 1em 1em 1em;
}

/*--- リンクの見た目 ---*/
a.unset-link-style {
  color: unset;
  text-decoration: unset;
}

/*--- フォント ---*/
.font-normal, body {
  font-family: "游ゴシック", "Yu Gothic", "遊ゴシック体", "YuGothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", sans-serif;
  font-weight: normal;
}

.font-monospace, h3, h4 {
  font-family: "Menlo", "Consolas", "Courier New", "Courier", "游ゴシック", "Yu Gothic", "遊ゴシック体", "YuGothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", sans-serif;
}

/*--- テキスト制御 ---*/
.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

p.expand-line-space {
  margin-top: 3em;
}

.no-wrap {
  white-space: nowrap;
}

/*--- ページの見出し ---*/
h3, h4 {
  font-weight: normal;
  border-radius: 5px;
  background-color: #FCFCFC;
  padding: 0.5em 1em;
}

/*--- 段落 ---*/
p {
  text-indent: 1em;
}

/*--- 装飾 ---*/
.highlight-comment {
  color: #4db91e;
}
.highlight-constant {
  color: #c6e25f;
}
.highlight-control {
  color: #c34de0;
}
.highlight-html-blackets {
  color: #808080;
}
.highlight-html-attribute {
  color: #4bc8e7;
}
.highlight-keyword {
  color: #307ae9;
}
.highlight-line-number {
  color: #808080;
}
.highlight-numeric {
  color: #c6e25f;
}
.highlight-normal {
  color: #404040;
}
.highlight-regexp {
  color: #e4553c;
}
.highlight-string {
  color: #e06f42;
}
.highlight-type {
  color: #2de0a4;
}
.highlight-dark-comment {
  color: #608b4e;
}
.highlight-dark-constant {
  color: #b5cea8;
}
.highlight-dark-control {
  color: #c586c0;
}
.highlight-dark-html-blackets {
  color: #808080;
}
.highlight-dark-html-attribute {
  color: #9cdcfe;
}
.highlight-dark-keyword {
  color: #569cd6;
}
.highlight-dark-line-number {
  color: #808080;
}
.highlight-dark-numeric {
  color: #b5cea8;
}
.highlight-dark-normal {
  color: #d4d4d4;
}
.highlight-dark-regexp {
  color: #d16969;
}
.highlight-dark-string {
  color: #ce9178;
}
.highlight-dark-type {
  color: #4ec9b0;
}

/*--- 順序なしリスト ---*/
ul {
  list-style-type: none;
}
ul li {
  position: relative;
  margin-left: -1em;
  padding: 0.5em 2em;
  text-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.3);
  box-shadow: 0em 0em 0em rgba(0, 0, 0, 0.3);
  background-image: url(../img/menuitemArrow.svg);
  background-position: 0 calc(1em - 20px);
  background-repeat: no-repeat;
}
ul li[data-sticker]::after {
  display: inline-block;
  content: attr(data-sticker);
  position: relative;
  font-size: 0.7em;
  left: 1em;
  top: -0.5em;
  padding: 0em 0.5em;
  background-clip: padding-box;
  background-color: rgba(255, 32, 32, 0.8);
  text-shadow: none;
  color: #EEE;
  box-shadow: 0.1em 0.1em 0.3em rgba(0, 0, 0, 0.5);
}

/*--- 空白強制 (pre) ---*/
.pre {
  white-space: pre;
}

/*# sourceMappingURL=main.css.map */
