body {
  color: #000C;
}

p {
  margin: 1rem 0;
  line-height: 2rem;
}

/* ヘッダー */

header {
  padding: 5rem 1rem 3rem;
  max-width: 960px;
  margin: 0 auto;
}

header h1 a {
  display: inline-block;
  overflow: hidden;
}

header h1:first-child {
  margin-bottom: 1rem;
}
header h1:first-child img {
  display: inline-block;
  height: 2.5rem;
}

header h1:last-child {
  font-size: 4rem;
  font-weight: bold;
}

/* サークル紹介 */

.join-button {
  width: 100;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  font-weight: bold;
  border: 0.2rem solid #555;
  color: #555;
  background: #FFF;
}
.join-button:hover {
  color: #FFF;
  background: #555;
}

.join-button svg {
  height: 1rem;
  width: auto;
  margin: 0 0.5rem 0 auto;
  fill: #555;
}
.join-button:hover svg {
  fill: #FFF;
}

.join-button span {
  margin: 0 auto 0 0;
  line-height: 1rem;
}

.topic-header {
  margin: 2rem auto 0;
  padding: 1rem 1rem;
  max-width: 960px;
  display: flex;
}

.topic-header::before,
.topic-header::after {
  content: "";
  flex-grow: 1;
  height: 1px;
  background: #0003;
}
.topic-header::before {
  margin: 0.6rem 1.5rem 0 0;
}
.topic-header::after {
  margin: 0.6rem 0 0 1.5rem;
}

.topic-header h2 {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.5rem;
  margin-right: -0.5rem;
}

.topic {
  max-width: 960px;
  margin: 0 auto;
  padding: 1rem 1rem;
}

/* トグル */

.toggle {
  margin-bottom: 1rem;
  border: 1px solid #0003;
}
.toggle:last-child {
  margin-bottom: 0;
}

.toggle h4 {
  padding: 1.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.toggle h4 img {
  height: 1rem;
  width: auto;
  margin-left: auto;
}

.toggle .inner {
  display: none;
  overflow: hidden;
  height: 0;
}

.toggle p {
  margin: 0;
  padding: 0 1rem 1rem;
}


/* 活動内容 */

.topic.activity h3 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #555;
}

.topic.activity ul {
  padding: 1rem 0;
}

/* サークルについて */

.topic.info table {
  max-width: 640px;
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
}

.topic.info tr {
  line-height: 2rem;
  border-bottom: 1px solid #0003;
}

.topic.info tr:last-child {
  border-bottom: none;
}

.topic.info th, .topic.info td {
  padding: 1rem;
}

.topic.info th {
  font-weight: bold;
  text-align: left;
  white-space: nowrap;
}

.topic.info a {
  text-decoration: underline;
}
.topic.info a:hover {
  text-decoration: unset;
}

/* よくある質問 */

.topic.faq ul {
  padding: 1rem 0;
}

/* フッター */

footer {
  padding: 2rem 1rem;
  text-align: center;
  border-top: 1px solid #0003;
}

footer h2 {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.5rem;
  margin-right: -0.5rem;
}

footer > div {
  max-width: 960px;
  margin: 0 auto;
}

footer > div div {
  margin: 2rem 0 0;
}
footer > div div.copyright {
  margin: 4rem 0 0;
  color: #000A;
}

footer a {
  text-decoration: underline;
}
footer a:hover {
  text-decoration: unset;
}

@media (max-width: 640px) {
  header {
    padding: 2rem 1rem 0;
  }
  
  header h1:first-child img {
    height: 1.5rem;
  }
  
  header h1:last-child {
    font-size: 2.5rem;
  }

  .topic-header {
    margin: 1rem auto 0;
  }
}
